<!DOCTYPE HTML>
<html>

<head>
  <title>Error</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <center>
    <h1 style="font-size: 45px;">error <%= error.status %>
        </h2>
        <h2>
          <%= message %>
    </h1>
    <button style="padding:20px 0px"><a style="padding:20px 30px" href="/">Return to the homepage</a></button>
  </center>
</body>

</html>