<!DOCTYPE html>
<html>
<head>
<title>Davide Chigliaro</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 0px 7px;
  border-radius: 0px 12px 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: -10px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button5 {
  

  background-color: #555555;
  color: white;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}
</style>
</head>
<body class="w3-light-grey">
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="images/imma.png" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-white">
            <h2>Davide Chigliaro</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Developer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Padova, PD</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>davide.chigliaro3@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>3391634480</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>HTML/CSS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>
          <p>NodeJS/Javascript</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>
          <p>Oracle/SQL</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
          </div>
          <p>Media</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>Italian</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:93%"></div>
          </div>
          <p>Spanish</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:25%"></div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Database Developer</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2021 - Jun 2021</h6>
          <p>I have been working in "Altea Federation" as a Database developer with many expierienced programmers from which I learned a lot. In particular I trained and grew my Database knowledge with SQL and Oracle programming lenguages.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Full stack developer</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2018 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>I have always loved web development and all its ascpects and from 2018 i have never stopped, i have been doings websites on demand and help people be organized with only just one database or web page.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>3D printing/CNC operator</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2017 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>As nerd as I am I also purchesed myself a 3D printer! it has been preatty challenging to print all the little objects that i printed but i made some quite useful and beautiful props for my friends and for scouting and even made some money by printing on demand aswell. </p><br>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Scout Leader</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2018 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>I am also an educator of children and teenagers, this experience tought me a lot during the years and made me much more organized and reliable. </p><br>
        </div>
      </div>

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-gears fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Projects</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Padova Sei </b><i class="fa fa-users fa-fw w3-margin-right "></i></h5>
          <p>I developed a website for a large scout group where they can pay the subscription and insurance, send all the required files and see all the different topics and activities.</p>
          <a href="https://padova6.chiglia.ovh" target="_blank"><button class="button button5">Link >></button></a><a href="" target="_blank"><button class="button button5">GitHub >></button></a>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>This Portfolio </b><i class="fa fa-address-card fa-fw w3-margin-right "></i></h5>
          <p>Well it seems obvious but this portfolio was alla designed and developed by myself.</p>
          <a href="https://chiglia.ovh" target="_blank"><button class="button button5">Link >></button></a><button class="button button5">GitHub >></button>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Interactive Designs </b><i class="fa fa-check-square-o fa-fw w3-margin-right "></i></h5>
          <p>I also developed some websites for education purposises all interactive, i belive this is the best way to learn new subjects!</p><br>
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>University of Padua</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2021 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>I am currently studing for the IT University Diploma in Padova.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Liceo Alvise Cornaro</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2014 - 2019</h6>
          <p>I have a Scientific diploma at this High School.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>C1 English Certificate</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2021</h6>
          <p>I passed the C1 Cambridge English certification with a grade of C1.</p><br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <a href="https://www.linkedin.com/in/davidechigliaro/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
  <a href="https://www.facebook.com/chiglia" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
  <a href="https://www.instagram.com/chigliadellabarca/" target="_blank"><i class="fa fa-instagram w3-hover-opacity"></i></a>
  <p>Developed by me</p>
</footer>

</body>
</html>
